body {
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  text-align: center;
  background: white;
  font-size: 2rem;
}

.orderNumber {
  font-weight: bold;
}
